<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Usuwanie transakcji</title>
</head>
<body>
<main layout:fragment="content">
    <div class="contactForm" th:fragment="contact">
        <h2 style="margin-top: 25px">Podaj id transakcji, którą chcesz usunąć.</h2>
        <form  action="/deletebyid"  method="get">

            <div class="mb-3 w-25">
                <label for="id" class="form-label">Wpisz id transakcji</label>
                <input type="number" name="id" step="1" class="form-control" id="id" min="1" placeholder="id" required>
            </div>

            <button type="submit" class="btn btn-primary">Usuń</button>

        </form>
    </div>
</main>
</body>
</html>