<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="header">
    <div class="fragments-header-div">
        <div class="fragments-header-text">
        <h1 >Wydatki</h1>
        </div>
    </div>
</header>

<div th:fragment="options">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <label></label>
        <a href="/add" class="link-offset-3 link-underline-opacity-35 link-underline-opacity-100-hover ">Dodaj transakcje</a>
        <a href="/update" class="link-offset-3 link-underline-opacity-35 link-underline-opacity-100-hover ">Modyfikacja transakcji</a>
        <a href="/delete" class="link-offset-3 link-underline-opacity-35 link-underline-opacity-100-hover ">Usuwanie transakcji</a>
        <a href="/list?type=INCOME" class="link-offset-3 link-underline-opacity-35 link-underline-opacity-100-hover ">Wyświetl wszystkie przychody</a>
        <a href="/list?type=SPENDING" class="link-offset-3 link-underline-opacity-35 link-underline-opacity-100-hover ">Wyświetl wszystkie wydatki</a>
    </div>
</div>
</body>
</html>